<!doctype html>
<html lang="en" class="no-js">
    <head>
        <title>About Us &mdash; Benefits Ninja</title>
        <meta charset="utf-8">
        <link href="../css/theme.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
      <script src="//cdn.shopify.com/s/assets/themes_support/option_selection-82cb1b5c51f509c337b44c0773201e80.js" type="text/javascript"></script>
        <script src="//cdn.shopify.com/s/files/1/0279/9277/t/18/assets/modernizr.min.js?4490054386301042893"></script>
        <script src="//cdn.shopify.com/s/files/1/0279/9277/t/18/assets/cart.js?4490054386301042893"></script>
      
<script id="__st">
//<![CDATA[
var __st={"a":2799277,"offset":-25200,"reqid":"4b7d0a0e-1ad1-4624-825e-455547656067","pageurl":"www.yellowleafhammocks.com\/pages\/about-us","s":"pages-11649415","u":"5b9a6dee4097","p":"page","rtyp":"page","rid":11649415};
//]]>
</script>
<script>
//<![CDATA[
      (function() {
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = '//cdn.shopify.com/s/javascripts/shopify_stats.js?v=6';
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();

//]]>
</script>

      <script type="text/javascript" class="analytics">
        
      window.ShopifyAnalytics = window.ShopifyAnalytics || {};
      window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
      window.ShopifyAnalytics.meta.currency = 'USD';
    
        (window.gaDevIds=window.gaDevIds||[]).push('BwiEti');
        
        (function () {
          var customDocumentWrite = function(content) {
            var jquery = null;

            if (window.jQuery) {
              jquery = window.jQuery;
            } else if (window.Checkout && window.Checkout.$) {
              jquery = window.Checkout.$;
            }

            if (jquery) {
              jquery('body').append(content);
            }
          };

          var analytics = document.createElement('script');
          var loaded = false;
          var onload = function() {
            if (loaded) return;
            loaded = true;
            window.ShopifyAnalytics.lib = window.analytics.noConflict();
            window.ShopifyAnalytics.lib.initialize({"Google Analytics":{"trackingId":"UA-24657670-1","domain":"auto","siteSpeedSampleRate":"10","enhancedEcommerce":true,"doubleClick":true,"includeSearch":true},"Trekkie":{"appName":"storefront","navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":0.1,"defaultAttributes":{"shopId":2799277}}});
            
        window.ShopifyAnalytics.lib.page(
          null,
          {}
        );
      
            

            window.ShopifyAnalytics.lib.ready(function() {
              
      ga('require', 'linker');
      function addListener(element, type, callback) {
        if (element.addEventListener) {
          element.addEventListener(type, callback);
        }
        else if (element.attachEvent) {
          element.attachEvent('on' + type, callback);
        }
      }
      function decorate(event) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        if (target && (target.getAttribute('action') || target.getAttribute('href'))) {
          ga(function (tracker) {
            var linkerParam = tracker.get('linkerParam');
            document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
          });
        }
      }
      addListener(window, 'load', function(){
        for (var i=0; i < document.forms.length; i++) {
          var action = document.forms[i].getAttribute('action');
          if(action && action.indexOf('/cart') >= 0) {
            addListener(document.forms[i], 'submit', decorate);
          }
        }
        for (var i=0; i < document.links.length; i++) {
          var href = document.links[i].getAttribute('href');
          if(href && href.indexOf('/checkout') >= 0) {
            addListener(document.links[i], 'click', decorate);
          }
        }
      });
    

              var originalDocumentWrite = document.write;
              document.write = customDocumentWrite;
              try {  } catch(e) {};
              document.write = originalDocumentWrite;
            });
          }
          analytics.onload = onload;
          analytics.onreadystatechange = function() {
            if (!/complete|loaded/.test(analytics.readyState)) return;
            onload();
          }
          analytics.async = true;
          analytics.src = "https://cdn.shopify.com/s/javascripts/trekkie.storefront.min.js";
          document.getElementsByTagName('head')[0].appendChild(analytics);
          
      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "//cdn.shopify.com/s/assets/shop_events_listener-2f214e16ad4d7730bac514327da60a76.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
    
        })();
      </script>
    <script type="text/javascript" src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-1e02ac4cfbf8b5d3834efe09930b72ca.js"></script>
<script type="text/javascript" class="google-wallet-script" src="//cdn.shopify.com/s/assets/google_instant_buy-3d099cd496c225f9dc86482c00948495.js" data-gw-src="https://wallet.google.com/online/v2/merchant/merchant.js"></script>

      <script type="text/javascript">
    (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/EuXVZeENqOATTHSIdcuxtuQh9l1ALFy5Pe15nOPu/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
  </script>
<script>
    window['friendbuy'] = window['friendbuy'] || [];
    window['friendbuy'].push(['site', 'site-5261cf02-host']);
    window['friendbuy'].push(['track', 'customer',
        {
            id: '',
            email: ''
        }
    ]);
    (function (f, r, n, d, b, y) {
        b = f.createElement(r), y = f.getElementsByTagName(r)[0];b.async = 1;b.src = n;y.parentNode.insertBefore(b, y);
    })(document, 'script', '//djnf6e5yyirys.cloudfront.net/js/friendbuy.min.js');
 </script>
    <script type="text/javascript">
    if (matchMedia('only screen and (min-width: 641px)').matches) {
  var __lc = {};
  __lc.license = 1128321;
  __lc.skill = 0;
  __lc.params = [
    { name: 'Cart', value: '0 items, $0.00 total' }
  ];

  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();
    }
</script>
          <!--Pressify--> 
          
      <!--End Pressify--> 
    </head>
    <body>
        
<!-- END HERO -->
<!-- START PROCESS -->
<div id="process" class="segment">
    <div class="container">
        <h2 class="heading">BENEFITS NINJA PROVIDES INSIGHTS THAT DIRECTLY EMPOWERS WOMEN</h2>
        <h4>HOW DOES IT WORK?</h4>
        <div class="image clearfix">
            <img src="//cdn.shopify.com/s/files/1/0279/9277/files/hammock-social-enterprise-impact.png?16911652111234794180" alt="">
        </div>
        <div class="stages clearfix">
            
                <!-- var processDescription -->
                    <div class="one-third column">
                        <p>Elicit benefits information from Employers</p>
                    </div>
                <!-- var processDescription -->
                    <div class="one-third column">
                        <p>Allow candidates to search for jobs that suits their needs</p>
                    </div>
                <!-- var processDescription -->
                    <div class="one-third column">
                        <p>Provide actionable data to candidates and employers, force meaningful debates</p>
                    </div>
        </div>
    </div>
</div>
<!-- END PROCESS -->
<!-- START COMMUNITY -->
<div id="community" class="segment">
    <div class="bg" >
        <div class="container">
            <h2 style ="heading" >EMPOWERING PEOPLE THROUGH INFORMATION</h2>
            <div class="details">
                <p>Benefits Ninja is forcing a discussion towards a more balanced environment, that would work for various individuals. We believe that by making this data public, everyone benefits.
                  Employers gain insight into what employees really want in a workplace, and Employees are more likely to make an informed choice that is sustainable in the long term</p><p>Data has proven that there is huge disparity in the basic benefits offered to Employees across the US. By putting this out in the public with real numbers backing them, we believe that the Government is forced to pay attention as well.</p>
            </div>
            <div class="profiles clearfix">
                        <div class="half column">
                            <div class="profile">
                                <div class="image">
                                    <img src="../css/sri.jpg" alt="">
                                    <label>Sriprabha Gopalan</label>
                                </div>
                                
                            </div>
                        </div>
                    
                        <div class="half column right">
                            <div class="profile">
                                <div class="image">
                                    <img src="../css/bhavana.jpg" alt="">
                                    <label>Bhavana Challa</label>
                                </div>
                                
                            </div>
                        </div>
                    
                        <div class="half column">
                            <div class="profile">
                                <div class="image">
                                    <img src="../css/ashwini.jpg" alt="">
                                    <label>Ashwini Bhagwat</label>
                                </div>
                                
                            </div>
                        </div>
                    
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
    </body>
</html>