<div id="process" class="segment">
    <div class="container">
        <h2 class="heading">BENEFITS NINJA PROVIDES INSIGHTS THAT DIRECTLY EMPOWERS WOMEN</h2>
        <h4>HOW DOES IT WORK?</h4>
        <div class="image clearfix">
            <img src="//cdn.shopify.com/s/files/1/0279/9277/files/hammock-social-enterprise-impact.png?16911652111234794180" alt="">
        </div>
        <div class="stages clearfix">
            
                <!-- var processDescription -->
                    <div class="one-third column">
                        <p>Elicit benefits information from Employers</p>
                    </div>
                <!-- var processDescription -->
                    <div class="one-third column">
                        <p>Allow candidates to search for jobs that suits their needs</p>
                    </div>
                <!-- var processDescription -->
                    <div class="one-third column">
                        <p>Provide actionable data to candidates and employers, force meaningful debates</p>
                    </div>
        </div>
    </div>
</div>