  <!-- HEADER -->

  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Benefits name</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/companyLogin">Company Login</a></li>
      <li><a href="/applicantLogin">Applicant Login</a></li>
    </ul>
  </nav>

<div class="container jumbotron text-center row">
	
	<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Dropdown
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			    <li><a href="/technology">Technology</a></li>
			    <li><a href="/medicine">Medicine</a></li>
			    <li><a href="/marketing">Marketing</a></li>
			    <li><a href="/finance">Finance</a></li>
			  </ul>
	</div>

</div>