<div class="text-center">
	<div class="btn-group tile-container" role="group" ng-repeat = "row in benefits" aria-label="..." >
		<button type="button" ng-click = "saveFilter(row.id, $index)"  
		ng-class="{active: isSelected($index)}" class="tile btn btn-default">{{row.text}}</button>
	</div>
	<button type="submit" class="btn btn-primary" ng-class="{disabled: !selected}" ng-click="reset()">Reset</button>
</div>

<div class="container">
	
	<div class="list-group results-container" ng-repeat="item in companies">
	  <button type="button" class="list-group-item panel-header" ng-click="clicked = !clicked">{{item}}</button>
	<div class="panel panel-default">
	  <div class="panel-body" ng-show="clicked">
	      Summary
	      Job page
	  </div>
	 </div>
	</div>
</div>
</div>