
body{ 
	opacity: 0.85;
	background-image: url('bg.jpg');
	padding:20px;
    font-family: "Brandon Grotesque Bold", sans-serif !important;
    font-family: 'Brandon Grotesque Bold', sans-serif;
font-kerning: auto;
font-size: 16px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-variant-ligatures: normal;
font-weight: normal;

}

.navbar-margin {
    margin-top:33px;
}

.login {
    float:right;
}
.landing-text{
    text-align: center;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.form-input {
	margin-bottom:20px;
}
.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;

    /****************
     ** NEW STYLES **
     ****************/

    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
    border-radius: 4px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border-radius: 4px;
}

li {
	list-style: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


ul li {
    display:inline;
}

.tile-container{
	margin:7px;
}

.noMsg {
    color:#fff;
}
.panel-header {
    font-weight:bold;
    padding:1px !important;
    text-align: center !important;
}
.active {
    opacity:0.7;
}
.results-container {
	margin-top:25px;
	width:50%;
}

.tile {
	width: 141px;
	height: 120px;
}
/** Button Styles **/
.dropdown button {
    background: #222;
    color: #FFFFFF;
    border: none;
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 14px;
    margin-top:120px;
    width:250px;
    height:55px;
}

/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #CCCCCC;
    color: #333333;
}

/** List Item Hover Styles **/
.dropdown a:hover {
    background: #BBBBBB;
}

.charts {
    display: flex;
    flex-flow: row wrap;
}

.charts > div {
    flex: 1 1 28%;
    margin: 10px 10px;
}